

html{
	position: relative;
}

body{
	font: 20px/26px arial, sans-serif;
	background-color: #fff;
	margin-top: 30px;
}

.container-fluid {
    background-color: #000;
    border-color: #ff0000;
}

.hero-text {
	font-size: 25px;
	margin-top: 20px;
}

.h1 {
	color: black;
}


.jumbotron {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-size: cover;
}




.jumbotron img{
	width: 200px;
	border:5px solid #666;
}


.item-active {
	height: 100%;
}


.location {
	background-color: #eaeaea;
}

 /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}



/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} 


h2 {
	color:#000;
}


h3 {
	font-size: 23px;
	margin-bottom: 45px;
}

h4 {
	font-size: 50px;
	margin-top: 25px;
	color: #4d4dff;
}

hr{
	width: 250px;
	border-top: 3px solid #999;
}

section {
	min-height: 600px;
}


.about {
	background-color: #d9d9d9;
	font-size: 22px; 
}


.sistem {
	background-color: #9999ff;
	font-size: 23px;
}

.ekstrakulikuler {
	background-color: #d9d9d9;
	font-size: 25px;
}

.gallery {
	background-color: #9999ff;
}

.comment {
	background-color: #f2f2f2;
}

.contact a{
	margin-right: 2000px;
}


.footer {
	position: absolute;
	top: 100px;
	width: 100%;
	height: 175px;
	background-color: #f2f2f2;

}

.panel-footer {
font-color:#000;
}

